body {
  /* border: 2px solid rgb(17, 12, 12); */
  font-family: 'poppins';
}

#container {
  height: 73px;
  /* width:1366px; */
  display: flex;
  align-items: center;
  justify-content: space-between;
}

#logo img {
  /* border: 2px solid red; */
  width: "160px";
  height: "63px";
  margin-left: 74px;
  margin-top: 6px;
}

#container ul {
  display: flex;
  list-style: none;
  margin-right: 87px;
}

#container ul li {
  margin: 0px 0px 0px 30px;
}

#container ul li a {
  font-style: normal;
  font-weight: 600;
  font-size: 18px;
  text-decoration: none;
  color: rgba(128, 0, 128, 0.25);
}

#last-div {
  display: flex;
}

#nav-bottom>p {
  height: 76px;

}

#nav-bottom-text {
  padding: 30px 0px 25px 187px;
  font-family: 'Poppins';
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 21px;
}



@media (max-width: 428px) {
  body {
    width: 428px;
  }

  .tohide {
    display: none;
  }

  #last-div img {
    display: none;
  }

  #last-div {
    width: 99px;
    height: 24px;
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 24px;
    

    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    /* padding: 12px 25px; */
    gap: 10px;

    /* position: absolute; */
    width: 165px;
    height: 48px;
    left: 228px;
    top: 59px;

    background: #800080;
    color: #FFFFFF;
    border-radius: 10px;
  }

  #logo{
    margin: 62px 65px 51px 3px;
  }

}